body {
    background-color: lightsteelblue;
    padding: 0%;
}

.input_value {
    background-color: aquamarine;
    width: 60%;
    height: 55px;
    align-self: center;
}

.input_go {
    width: 38px;
}

.input_end {
    width: 38px;
}

.shuffling {
    background-color: firebrick;
    width: 24%;
}

.sort_yet {
    background-color: goldenrod;
    width: 24%;
}

.sorted {
    background-color: chartreuse;
    width: 24%;
}