#result {
    height: 640px;
    border: 8px solid rgb(22, 87, 42);
    border-radius: 12px;
}

#input-go,
#input-end {
    width: 150px;
    margin-top: 3px;
    display: grid;
    list-style-type: none;
    list-style-position: outside;
    padding: 5px 8px;
    border-bottom: 1px solid #eee;
    position: relative;
}