/* DOM */

html {
    font-family: Lobster, cursive;
}

body {
    background-color: rgb(4, 14, 26);
    margin: 60px;
    color: blanchedalmond;
}

button {
    width: 100px;
    height: 40px;
    background-color: indigo;
    color: azure;
}