/* Classes */

.clear-btn {
    color: azure;
}

.input-value p {
    font-size: 24px;
}

.input-go {
    width: 38px;
}

.input-end {
    width: 38px;
}

.shuffling {
    background-color: firebrick;
    width: 24%;
}

.sort-yet {
    background-color: goldenrod;
    width: 24%;
}

.sorted {
    background-color: chartreuse;
    width: 24%;
}